.alert-content {
    font-size: 3em;
    align-content: center;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
    border-radius: 10px;
}

.alert-black-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999 !important;
}

.alert-black-overlay>div {
  top: 50%;
  left: 50%;
  margin: 0;
  position: absolute;
  transform: translate(-50%, -50%);
}

.alert-black-overlay>.alert-content>p {  
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1.4rem;
}